<div class="container">
    <header>
        <h1>Start</h1>
    </header>
    <body>
        <p>工作流的起始節點，用來設定啟動工作流所需的資訊。</p>
        <div>
            <div>
              Input
            </div>
            <div>
              <table>
                <tbody>
                  <tr>
                    <td><input placeholder="user_query"></td>
                    <td>
                      <select>
                        <option value="String">String</option>
                        <option value="Number">Number</option>
                        <option value="Boolean">Boolean</option>
                      </select>
                    </td>
                    <td><input placeholder="使用者輸入的內容"></td>
                    <td>
                      <input type="checkbox"/>
                    </td>
                    <td>
                      <button>刪除</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button>新增</button>
          </div>
    </body>
</div>