<div class="container">
    <header>
        <h1>End</h1>
    </header>
    <body>
        <p>工作流的最終節點，用於回覆工作流執行後的結果信息。</p>
        <div class="section">
            <h4>
              <label for="response-textarea">回應</label>
            </h4>
            <textarea rows="4" cols="50" id="response-textarea" placeholder="輸入您的回應內容。使用 { 變數名 } 來引用輸出變量。"></textarea>
        </div>
        <div>
            <label for="streaming-output-checkbox">
                支援流式輸出
                <input type="checkbox" id="streaming-output-checkbox">
            </label>
        </div>
    </body>
</div>