<div class="toolbar">
    <button (click)="saveChart()" mat-fab class="button" matTooltip="保存圖表" [matTooltipPosition]="'below'">
        <mat-icon>save</mat-icon>
    </button>
    <button (click)="resetChart()" mat-fab class="button" matTooltip="恢復圖表" [matTooltipPosition]="'below'">
        <mat-icon>folder</mat-icon>
    </button>
    <button (click)="randomAddNode()" mat-fab class="button" matTooltip="添加隨機節點" [matTooltipPosition]="'below'">
        <mat-icon>add</mat-icon>
    </button>
</div>